@font-face {
    font-family: Palanquin;
    src: url(../fonts/PalanquinDark-Medium.ttf);
}

body {
    background-color: #333;
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
    font-family: Arial;
}

.loading {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: #333;
    z-index: 1000;
}

.loadinglogo {
    height: 20vmin;
    width: 20vmin;
    position: absolute;
    right: 5vmin;
    bottom: 5vmin;
    /*transform: translate(-100%, -100%);*/
    user-select: none;
}

.loaders {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}

.loaders div {
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    animation-name: loader;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.loaders div.one {
    animation-delay: 0s;
}
.loaders div.two {
    animation-delay: .1s;
}
.loaders div.three {
    animation-delay: .2s;
}
.loaders div.four {
    animation-delay: .3s;
}
.loaders div.five {
    animation-delay: .4s;
}

@keyframes loader {
    0%   {transform: translateY(0)}
    25%  {transform: translateY(50px)}
    50%  {transform: translateY(-50px)}
    100% {transform: translateY(0)}
}

#viewport {
    position: absolute;
    height: 60vh;
    width: 60vw;
    border-right: 1px solid #555;
    background-color: #444;
    overflow: hidden;
}

#canvas {
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: white;
    transform-origin: 0 0 0;
}

.fileExplorer {
    position: absolute;
    height: 40vh;
    width: 60vw;
    left: 0;
    bottom: 0;
    border: 1px solid #555;
    border-width: 1px 1px 0 0;
    background-color: #333;
}

#dir {
    width: calc(30% - 20px);
    height: calc(100% - 10px);
    border-right: 1px solid #555;
    padding: 10px 0 0 10px;
    overflow: auto;
    white-space: nowrap;
}

#dir::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
#dir::-webkit-scrollbar-thumb {
    background-color: #444;
}


#dir p {
    color: #bbb;
    margin: 0;
    padding: 0;
    margin-bottom: 4px;
    user-select: none;
    font-size: 13px;
    display: inline-block;
}
.fsparent {
    cursor: pointer;
    padding-left: 20px;
    margin-left: -10px;
}
.fsparent:hover {
   background-color: #292929;
}


.folderArrow {
    display: inline-block;
    border: 3px solid #fff;
    border-color: #fff #fff transparent transparent;
    height: 0;
    width: 0;
    margin-left: -10px;
    margin-right: 7px;
    transform: rotate(45deg);
    cursor: pointer;
}
.folder.active .folderArrow {
    transform: rotate(135deg);
}
.content {
    padding-left: 10px;
}