body {
    background-color: #333;
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
}

#loadingPage {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: #333;
    z-index: 1000;
}

.loadinglogo {
    height: 20vmin;
    width: 20vmin;
    position: absolute;
    right: 5vmin;
    bottom: 5vmin;
    /*transform: translate(-100%, -100%);*/
    user-select: none;
}

.loaders {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}

.loader {
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    animation-name: loader;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.loader.one {
    animation-delay: 0s;
}
.loader.two {
    animation-delay: .1s;
}
.loader.three {
    animation-delay: .2s;
}
.loader.four {
    animation-delay: .3s;
}
.loader.five {
    animation-delay: .4s;
}

@keyframes loader {
    0%   {transform: translateY(0)}
    25%  {transform: translateY(50px)}
    50%  {transform: translateY(-50px)}
    100% {transform: translateY(0)}
}

.viewport {
    position: absolute;
    height: 60vh;
    width: 60vw;
    border: 1px solid #555;
    background-color: #444;
    overflow: hidden;
}

#canvas {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}